<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="GoogleAuthClientId" value="441398342731-qotfqpr1jtatt76ed5i2pgabpmget4hj.apps.googleusercontent.com" />
		<add key="GoogleAuthClientSec" value="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" />
		<add key="PaypalAPIUser" value="sb-ntd6b38777358_api1.business.example.com"/>
		<add key="PaypalAPIPass" value="HJCE4Y6VHZE5M8UC"/>
		<add key="PaypalAPISig" value="AA9ExP64.cMZEWNqon.bnY6yQeMDABW7B.DT4lDEaekDOwL2e7UVOjkg" />
	</appSettings>
</configuration>

